body {
  background-color: #fcdcfc;
}

* {
  font-family: 'Courier New', Courier, monospace;
}

.titleconsole {
  position: relative;
  top: 150px;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-bottom: 12%;
  margin-top: 8%;
  /* border: 4px solid black; vallah das op bim debugga */
}

.textcontainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10% 20% 10%;
}

#welcome {
  overflow: hidden;
  text-align: left;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: calc(2.5vw + 2.5vh + 2.5vmin);
  /*margin: 0 auto;*/
  margin-left: 10%;
  margin-top: 15%;
  margin-bottom: 15%;
  letter-spacing: .048em;
  display: inline;
  /*border-right: .1em solid pink;*/
}

#blinking {
  overflow: hidden;
  text-align: left;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: calc(2.5vw + 2.5vh + 2.5vmin);
  /*margin: 0 auto;*/
  white-space: nowrap;
  letter-spacing: .048em;
  display: inline;
  font-weight: bold;
  /*border-right: .1em solid pink;*/
}

#title {
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 55px;
  text-align: left;
  box-sizing: content-box;
}

#text {
  padding-bottom: 120px;
  margin-top: -20px;
  line-height: 50px;
  font-size: 30px;
  /* font-family: 'Courier New', Courier, monospace; */
  box-sizing: content-box;
}

@media screen and (max-width: 1200px) {
  .titleconsole {
    top: 8vw;
    margin-top: 10%;
    font-size: calc(1vw + 1vh + 1vmin);
    margin-bottom: 5%;
  }
  .textcontainer {
    margin-right: 12%;
    margin-left: 12%;
  }
  #title {
    font-size: 45px;
  }
  #text {
    font-size: 28px;
  }
}

.navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  position: fixed;
  top: 0;
  margin-top: 7px;
  width: 99%;
  height: 5%;
  display: flex;
  align-items: center;
  z-index: 5;
}

.center_horizontal {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
}
  
.navbar a {
  float: left;
  font-size: 16px;
  /* font-family: 'Courier New', Courier, monospace; */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.dropdown {
  float: left;
  /* font-family: 'Courier New', Courier, monospace; */
  overflow: hidden;
}
  
.dropdown .dropbtn {
  font-size: calc(0.5vw + 0.5vh + 0.5vmin);
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  border-radius: 10px;
  display: flex;
  height: 100%;
  padding-right: 12px;
  padding-left: 12px;
  text-align: center;
  align-items: center;
}
  
.navbar a:hover, .navbar a:active, .dropdown:hover, .dropdown:active, .dropbtn {
  background-color: purple;
  border-radius: 10px;
  height: 100%;

}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

.dropdown-content #discord {
  float: none;
  /* font-family: 'Courier New', Courier, monospace; */
  color: rgb(255, 255, 255);
  background-color: rgb(113, 113, 240);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
  
.dropdown-content #git {
  float: none;
  /* font-family: 'Courier New', Courier, monospace; */
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-content #download {
  float: none;
  /* font-family: 'Courier New', Courier, monospace; */
  color: white;
  background-color: orange;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown #download:hover {
  background-color: white;
  color: orange;
}

.dropdown #git:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.dropdown #discord:hover {
  color: rgb(113, 113, 240);
  background-color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: pink; }
  50% { border-color: transparent; }
}
